{% extends 'home.html' %}

{% block content %}
<div class="header">
    <h1><i class="fas fa-tachometer-alt"></i> Welcome back, Admin</h1>
    <p id="tagline">Seamless Exam Security, Right in Your Browser.</p>
</div>

<div class="overview-cards">
    <div class="card exam-card">
        <div class="card-icon">
            <i class="fas fa-book"></i>
        </div>
        <div class="title">
            <h2>Total Exams</h2>
        </div>
        <div class="number">
            <h4>{{ exams }}</h4>
        </div>
    </div>
    <div class="card user-card">
        <div class="card-icon">
            <i class="fas fa-users"></i>
        </div>
        <div class="title">
            <h2>Total Students</h2>
        </div>
        <div class="number">
            <h4>{{ students }}</h4>
        </div>
    </div>
</div>
{% endblock %}